/* Reset */
* {
    margin: 0;
    padding: 0;
    
}

html {
    scroll-behavior: smooth; /* Ativa a rolagem suave */
}


/* Link styles */
a {
    color: #000000;
    text-decoration: none;
    transition: 0.3s;
}

a:hover {
    opacity: 0.7;
}

body {
    font-family: 'Source Sans Pro', sans-serif; /* Aplica a fonte a todo o corpo */
}

.background-image {
    position: absolute; /* Fixa a imagem no fundo */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./img/bg.jpg'); /* Altere para o caminho da sua imagem */
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-position: center; /* Centraliza a imagem */
    opacity: 0.5; /* Ajuste a opacidade conforme necessário */
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

/* Logo styling */
.logo {
    display: flex;
    align-items: center;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: black;
}

.logo-img {
    width: 90px;
    height: auto;
    margin-right: 10px;
}

/* Navbar styling */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff; /* Fundo branco */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra mais intensa */
    height: 8vh;
    width: 100%; /* Garante que a nav ocupe toda a largura da página */
    position: fixed; /* Mantém a nav fixa no topo da página */
    z-index: 10; /* Garante que a navbar fica acima do conteúdo principal */
}

/* Main content */
.main {
    background: url("") no-repeat center center;
    background-size: cover;
    height: 92vh;
}

/* Navigation list styling */
.nav-list {
    list-style: none;
    display: flex;
}

.nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
    opacity: 1; /* Mantém os itens visíveis em telas maiores */
    transition: opacity 0.3s ease-in-out;
}

/* Mobile menu styling */
.mobile-menu {
    display: none;
    cursor: pointer;
    z-index: 11; /* Coloca o ícone acima do menu ao expandir */
}

.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #000000;
    margin: 8px;
    transition: 0.3s;
}

/* Responsive styling */
@media (max-width: 999px) {
    body {
        overflow-x: hidden;
    }

    .nav-list {
        position: absolute;
        top: 8vh;
        right: 0;
        width: 50vw;
        height: 92vh;
        background: #ff69b4;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%); /* Esconde o menu ao lado direito */
        transition: transform 0.3s ease-in-out;
    }

    .nav-list.active {
        transform: translateX(0); /* Exibe o menu ao clicar no ícone */
    }

    .nav-list li {
        margin-left: 0;
        opacity: 1; /* Torna os itens visíveis quando o menu está ativo */
    }

    .mobile-menu {
        display: block;
    }

    /* Animação para o menu hambúrguer */
    .mobile-menu.open div:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    .mobile-menu.open div:nth-child(2) {
        opacity: 0;
    }

    .mobile-menu.open div:nth-child(3) {
        transform: rotate(-45deg) translate(6px, -6px);
    }
}

/* Main section styling */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh; /* Altura restante da viewport */
    padding: 20px;
}

.intro {
    display: flex;
    flex-direction: column; /* Ajuste para telas menores */
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Limita a largura máxima */
    margin: 0 auto; /* Centraliza o conteúdo */
    padding: 20px; /* Espaçamento adicional nas laterais */
    box-sizing: border-box;
}

.introText {
    text-align: center;
    margin-bottom: 20px; /* Espaço inferior para separação */
}

.intro h1 {
    font-size: 3rem;
    color: #ff69b4; /* Rosa */
}

.intro h2 {
    font-size: 1.5rem;
    margin: 10px 0;
    color: #2f8be0;
}

.intro p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff69b4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #e65c9b;
}

.introImage {
    width: 100%;
    max-width: 600px; /* Largura máxima para a imagem */
    margin-top: 20px; /* Espaço entre o texto e a imagem em telas menores */
    text-align: center;
}

.introImage img {
    width: 100%;
    height: auto;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .intro {
        flex-direction: column;
    }

    .intro h1 {
        font-size: 2.5rem; /* Reduz o tamanho em telas pequenas */
    }

    .intro h2 {
        font-size: 1.2rem;
    }

    .intro p {
        font-size: 0.9rem;
    }

    .introImage {
        max-width: 100%; /* Ajusta a largura da imagem */
        margin-top: 20px;
    }
}



.about {
    display: flex; /* Utiliza Flexbox para um layout responsivo */
    flex-direction: column; /* Organiza os elementos em coluna em telas pequenas */
    align-items: center; /* Centraliza os itens horizontalmente */
    padding: 50px 20px; /* Espaçamento interno */
    background-color: #f8f9fa; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
    margin: 20px 0; /* Margem superior e inferior */
    border-radius: 10px; /* Cantos arredondados */
}

.aboutText {
    text-align: center; /* Centraliza o texto */
    margin-bottom: 30px; /* Espaço abaixo do texto */
}

.aboutText h1 {
    font-size: 2.5rem; /* Tamanho da fonte para o título */
    margin: 0; /* Remove margens padrão */
}

.aboutText span {
    color: #2f8be0; /* Cor do destaque */
    font-size: 35px; /* Tamanho fixo inicial */
}

/* Ajustes para tablets */
@media (max-width: 768px) {
    .aboutText span {
        font-size: 40px; /* Reduzir o tamanho em tablets */
    }
}

/* Ajustes para smartphones */
@media (max-width: 480px) {
    .aboutText span {
        font-size: 30px; /* Reduzir o tamanho em smartphones */
    }
}


.aboutText img {
    max-width: 100%; /* Imagem responsiva */
    height: auto; /* Mantém a proporção da imagem */
    margin-top: 20px; /* Espaço acima da imagem */
}

.aboutList {
    max-width: 600px; /* Limita a largura da lista */
    width: 100%; /* Garante que a lista ocupe 100% do espaço disponível */
}

.aboutList ol {
    list-style: none; /* Remove a lista padrão */
    padding-left: 0; /* Remove o preenchimento padrão */
}

.aboutList li {
    display: flex; /* Utiliza Flexbox para os itens da lista */
    align-items: center; /* Alinha verticalmente os ícones e texto */
    margin-bottom: 20px; /* Espaço entre os itens da lista */
}

.aboutList li span {
    font-size: 2rem; /* Tamanho do ícone */
    margin-right: 10px; /* Espaço entre ícone e texto */
}

.aboutList li p {
    margin: 0; /* Remove margens padrão do parágrafo */
    font-size: 1.1rem; /* Tamanho da fonte do texto */
}

.agendamento {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 20px;
    background-color: #2f8be0;
    color: #ffffff;
    box-shadow: #1e6f9e;
    margin: 20px 0;
    border-radius: 10px;
}

.agendamentoText {
    text-align: center;
}

.agendamentoText h1 {
    font-size: 2.5rem; /* Tamanho padrão para desktop */
    margin-bottom: 20px;
}

.agendamentoText p {
    font-size: 1.2rem; /* Tamanho padrão para desktop */
    margin-bottom: 30px;
}

.agendamentoText .btn {
    background-color: #ff69b4;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1rem;
    transition: background-color 0.3s;
}

.agendamentoText .btn:hover {
    background-color: #d14b8e;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
    .agendamento {
        padding: 30px 10px; /* Reduzindo o espaçamento interno em telas menores */
    }

    .agendamentoText h1 {
        font-size: 2rem; /* Reduzindo o tamanho do título em telas menores */
    }

    .agendamentoText p {
        font-size: 1rem; /* Reduzindo o tamanho do texto em telas menores */
    }

    .agendamentoText .btn {
        padding: 8px 15px; /* Ajustando o tamanho do botão em telas menores */
        font-size: 0.9rem; /* Tamanho do botão */
    }
}

@media (max-width: 480px) {
    .agendamento {
        padding: 20px 5px; /* Reduzindo ainda mais o espaçamento em telas muito pequenas */
    }

    .agendamentoText h1 {
        font-size: 1.8rem; /* Tamanho ainda menor para telas pequenas */
    }

    .agendamentoText p {
        font-size: 0.9rem; /* Texto menor em telas pequenas */
    }

    .agendamentoText .btn {
        padding: 7px 12px; /* Ajustando o botão */
        font-size: 0.8rem; /* Tamanho do botão */
    }
}

.contato {
    padding: 50px 20px;
    background-color: #f8f9fa; /* Cor de fundo suave para contraste */
}

.contatoText {
    text-align: center;
    margin-bottom: 30px;
}

.contatoInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-item {
    width: 100%;
    max-width: 600px; /* Limita a largura dos itens */
    margin: 15px 0;
    background-color: white; /* Fundo branco para os itens */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

.info-item h3 {
    margin-bottom: 10px;
    color: #2f8be0; /* Cor para os títulos */
}

.map-container {
    position: relative;
    width: 100%;
    padding-top: 56.25%; /* Aspect ratio 16:9 para responsividade */
    margin-top: 20px; /* Espaçamento entre o endereço e o mapa */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff69b4; /* Cor dos botões */
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

.btn:hover {
    background-color: #d14b8e; /* Cor do hover dos botões */
}

/* Responsividade */
@media (max-width: 768px) {
    .contato {
        padding: 30px 15px;
    }

    .info-item {
        max-width: 100%;
        padding: 15px;
        margin: 10px 0;
    }

    .btn {
        padding: 8px 16px;
        font-size: 0.9em;
    }
}



/* Active class for nav list */
.nav-list.active {
    transform: translateX(0);
}

/* Keyframes for link fade animation */
@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Active state for mobile menu lines */
.mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
    opacity: 0;
}

.mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
}

@media (max-width: 768px) {
    .intro {
        flex-direction: column; /* Empilha os elementos verticalmente */
        align-items: center; /* Centraliza os itens */
    }

    .introText {
        margin-right: 0; /* Remove margem para dispositivos menores */
        text-align: center; /* Centraliza o texto */
    }

    .introImage {
        max-width: 100%; /* Permite que a imagem ocupe toda a largura */
        margin-top: 20px; /* Espaço entre o texto e a imagem */
    }

    .intro h1 {
        font-size: 3rem; /* Reduz o tamanho do texto em dispositivos menores */
    }

    .intro h2 {
        font-size: 1.5rem; /* Reduz o subtítulo em dispositivos menores */
    }
}

/* Estilo para a seção "Últimos Posts" */
.ultimos-posts {
    background-color: transparent; /* Remove a cor de fundo */
    padding: 20px; /* Ajusta o espaçamento em volta da seção */
    text-align: center; /* Centraliza o texto */
}

.ultimos-posts h2 {
    font-size: 2.5rem; /* Tamanho da fonte do título */
    color: #000000; /* Cor do texto */
    margin-bottom: 20px; /* Espaço abaixo do título */
}

.slick-slide {
    margin: 0; /* Remove o espaçamento entre os slides */
}

.post-item {
    background-color: white; /* Fundo branco para cada item do post */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
    overflow: hidden; /* Para evitar que o conteúdo ultrapasse as bordas */
    margin: 10px; /* Adiciona espaço entre os posts */
}

/* Ajustar tamanho da imagem do post */
.post-item img {
    width: 80%; /* Ajuste a largura da imagem para 80% do contêiner */
    max-width: 300px; /* Defina um tamanho máximo para a imagem */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Centraliza a imagem no item */
    display: block; /* Faz a imagem se comportar como um bloco */
}

.post-item p {
    padding: 15px; /* Espaço dentro do item */
    font-size: 1.1rem; /* Tamanho da fonte */
    color: #333; /* Cor do texto */
}

.post-item h3 {
    font-size: 1.5rem; /* Tamanho do título do post */
    color:#2f8be0; /* Cor do título do post */
    margin-bottom: 10px; /* Espaço abaixo do título do post */
}

/* Responsividade */
@media (max-width: 1024px) {
    .ultimos-posts h2 {
        font-size: 2rem; /* Tamanho da fonte do título para telas menores */
    }
}

@media (max-width: 768px) {
    .ultimos-posts h2 {
        font-size: 1.5rem; /* Tamanho da fonte do título para telas menores */
    }

    .post-item img {
        width: 90%; /* Para telas menores, pode aumentar a largura relativa da imagem */
        max-width: 200px; /* Defina um tamanho máximo para a imagem em telas menores */
    }
}

.footer {
    background-color: #ece9e9; /* Cor de fundo */
    color: #2f8be0; /* Cor do texto */
    padding: 40px 20px; /* Espaçamento interno */
    text-align: left; /* Alinhamento à esquerda */
}

.footer-container {
    display: flex; /* Flexbox para layout responsivo */
    justify-content: space-between; /* Espaço entre os itens */
    flex-wrap: wrap; /* Permite quebra de linha em telas pequenas */
}

.footer-about,
.footer-links,
.footer-contact {
    flex: 1; /* Cada seção ocupa igual espaço */
    margin: 10px; /* Margem entre as seções */
    min-width: 200px; /* Largura mínima para as seções */
}

.footer h3, .footer h4 {
    color: #2f8be0; /* Cor dos títulos */
}

.footer-links ul {
    list-style: none; /* Remove marcadores da lista */
    padding: 0; /* Remove o preenchimento da lista */
}

.footer-links li {
    margin: 10px 0; /* Espaçamento entre os links */
}

.footer-links a {
    color: #000000; /* Cor dos links */
    text-decoration: none; /* Remove o sublinhado dos links */
    transition: color 0.3s; /* Transição suave para a cor do link */
}

.footer-links a:hover {
    color: #2f8be0; /* Cor do link ao passar o mouse */
}

.footer-bottom {
    text-align: center; /* Centraliza o texto */
    margin-top: 20px; /* Espaçamento acima do rodapé inferior */
    border-top: 1px solid #ff69b4; /* Linha superior acima do rodapé */
    padding-top: 10px; /* Espaçamento acima do rodapé inferior */
}

/* Responsividade */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column; /* Coluna para telas pequenas */
        align-items: center; /* Centraliza as seções */
        text-align: center; /* Centraliza o conteúdo */
    }

    .footer-about,
    .footer-links,
    .footer-contact {
        margin: 20px 0; /* Margem maior entre as seções */
        min-width: 100%; /* Faz com que ocupem toda a largura */
    }
    
    .footer-bottom {
        margin-top: 30px; /* Ajusta a margem superior do rodapé inferior */
    }
}

